<div class="page-header md-shadow-z-1-i navbar navbar-fixed-top">
  <div class="page-header-inner">
    <div class="page-logo">
      <a href="<%=admin_home_path%>">
        위미향 Admin
      </a>
      <div class="menu-toggler sidebar-toggler">
      </div>
    </div>
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
    </a>
		<div class="page-top">
			<div class="top-menu">
				<ul class="nav navbar-nav pull-right">
					<li class="separator hide">
					</li>
          <li>
            <a href="<%=admin_logout_path%>" class="logout">
              <i class="icon-logout"></i>로그아웃
            </a>
          </li>
				</ul>
			</div>
		</div>
  </div>
</div>
