<div class="page-header md-shadow-z-1-i navbar navbar-fixed-top">
  <div class="page-header-inner">
    <div class="page-logo">
      <a href="<%=admin_home_path%>">
        μ„λ―Έν–¥ Admin
      </a>
      <div class="menu-toggler sidebar-toggler">
      </div>
    </div>
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
    </a>
  </div>
</div>
