<div class="page-head">
  <div class="page-title">
    <h1>
      FAQ 수정
    </h1>
  </div>
</div>
<div class="note note-info note-shadow">
  FAQ 수정하는 곳
</div>

<%=render partial: "form", locals: {obj:@faq, url: admin_faq_update_path(@faq.id), method: :put}%>
