<div class="page-head">
  <div class="page-title">
    <h1>
      FAQ 관리
    </h1>
  </div>
</div>
<div class="note note-info note-shadow">
  FAQ 관리하는 곳
</div>

<div class="portlet light">
  <div class="portlet-title">
    <div class="actions">
      <button type="button" class="btn green-meadow" url="<%=admin_faq_new_path%>">등록</button>
      <button type="button" class="btn btn-warning" ng-click="order_update()">순서 업데이트</button>
    </div>
  </div>
  <div class="portlet-body">
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>상태</th>
            <th>제목</th>
            <th>등록일</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody ui-sortable ng-model="faqs">
          <tr class="empty" ng-if="faqs.length == 0">
            <td colspan="4">등록된 공지가 없습니다.</td>
          </tr>
          <tr ng-repeat="f in faqs">
            <td>{{f.id}}</td> 
            <td>{{f.is_public ? "공개" : "비공개"}}</td>
            <td>{{f.title}}</td>
            <td>
              {{f.created_at}}
            </td>
            <td>
              <button type="button" class="btn blue" url="{{f.edit_url}}">수정</button>
              <button type="button" class="btn btn-dagner" ng-click="delete(f)">삭제</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= form_tag admin_faq_order_update_path, method: :put, role:'form', class:"hidden order-form" do %> 
  <%=hidden_field_tag :faq_ids, "" %>
<% end %>
