<%= render "fragment/client/top" %>

<div class="content-cont">
  <div class="top-ctt">
    <p class="p-1">제주도의 자연을 함축하고 싶었던 산책로</p>
    <p class="phr p-2">
    &nbsp;동쪽으로는 카나리아와 도시로가 어우러진 아담한 열대수림, 편안한 휴식공간을 묵묵히 지켜주는 수문장 역할의 소나무, 그리고 사이사이 비어 있는 공간을 운치있게 채워주는 야생나무들.<br>
    &nbsp;서쪽으로는 건물 옆에 우뚝 자리한 향나무가 버티어주고, 대지의 대부분을 차지한 자연상태로 보존하고 싶은 갈대밭, 그리고 외롭지 않게 일열로 나란히 서있는 젊은 도시로들, 그들 사이로 보이는 한라산 정상.
    </p>
    <p class="phr p-3">
    이런 벗들이 어우러진, 편안하고 사색에 잠길 수 있는 산책로입니다.<br>
    마지막으로 무농약 귤나무무리들이 잠시 쉬어가라고 합니다.
    </p>
  </div>
  <div class="room-list">
    <div class="room">
      <div class="img-cont">
        <uib-carousel interval="0">
          <uib-slide ng-repeat="i in floor_1_images track by $index" ng-click="show_carousel_image(1, $index)">
            <div class="backdrop"></div>
            <div class="image" ng-style="{'background-image':'url({{i}})'}"></div>
          </uib-slide>
        </uib-carousel>
      </div>
      <div class="r-cont">
        <span class="name">동쪽 정원(2,600여평)</span>
      </div>
    </div>
    <div class="room">
      <div class="img-cont">
        <uib-carousel interval="0">
          <uib-slide ng-repeat="i in floor_2_images track by $index" ng-click="show_carousel_image(2, $index)">
            <div class="backdrop"></div>
            <div class="image" ng-style="{'background-image':'url({{i}})'}"></div>
          </uib-slide>
        </uib-carousel>
      </div>
      <div class="r-cont">
        <span class="name">서쪽 정원(1,200여평)</span>
      </div>
    </div>
  </div>
</div>

<div id="floor-1-images" blueimp-gallery-img>
  <a href="{{img}}" ng-repeat="img in floor_1_images track by $index">
    <img ng-src="{{img}}">
  </a>
</div>
<div id="floor-2-images" blueimp-gallery-img>
  <a href="{{img}}" ng-repeat="img in floor_2_images track by $index">
    <img ng-src="{{img}}">
  </a>
</div>

<script id="template/carousel/carousel.html" type="text/ng-template">
  <div ng-mouseenter="pause()" ng-mouseleave="play()" class="carousel" ng-swipe-right="prev()" ng-swipe-left="next()">
    <div class="indicator-container">
      <ol class="carousel-indicators" ng-show="slides.length > 1" >
          <li ng-repeat="slide in slides track by $index" ng-class="{active: isActive(slide)}" ng-click="select(slide)"></li>
      </ol>
    </div>
    <div class="carousel-inner" ng-transclude></div>
    <div class="left carousel-control arrow" ng-click="prev()" ng-show="slides.length > 1">
    </div>
    <div class="right carousel-control arrow" ng-click="next()" ng-show="slides.length > 1">
    </div>
  </div>
</script>
