<div class="top-bg">
  <div class="backdrop">
    <div class="ctt" vertical-center=".backdrop">
      <span>아름다운 향기의 추억</span>
      <span>위미향</span>
    </div>
  </div>
</div>


<div class="content-cont">
  <div class="indexes">
    <div class="m <%="active" if @current_uri == client_special_path%>" url="<%=client_special_path%>">특별함</div>
    <div class="m <%="active" if @current_uri == client_tour_path%>" url="<%=client_tour_path%>">관광지</div>
  </div>

  <div class="items">
    <div class="it">
      <div class="image"></div>
      <div class="tit">호시담 VILLA 마당/야외노천탕</div>
      <div class="subtit">담으로 둘러쌓인 우리들만의 마당</div>
      <div class="ctt">
        호시담의 Villa개념의 6개의 독립된 객실에는 각각의 개별마당이 있습니다.<br> 
        담으로 둘러쌓여 외부시선을 차단하며 그 사이사이로 풍경이 보이도록 했습니다. 마당에는 나무테라스와,잔잔한 초화류를 심어 자연을 그대로 옮겨 놓은듯한 미니정원을 만들어, 아담하지만 진정한 휴식기분을 느끼기에 너무나 좋은 장소입니다. 또한 담양의 공기를 느낄수있는 야외 노천탕은, 여행의 즐거움을 더해줄 것입니다.
      </div>
    </div>
    <div class="it">
      <div class="image"></div>
      <div class="tit">호시담 VIEW</div>
      <div class="subtit">자연속에서의 진정한 휴식</div>
      <div class="ctt">
        호시담은 풀과 나무가 어우러진 풍경이 제일 먼저 눈에 들어오는 곳입니다. 시원한 바람, 
        무등산과 추월산으로 둘러쌓인 호시담은 계절이 만드는 풍경을 자연스럽게 담았습니다. 고요한 자연 속에 머무르고 싶은 당신만의 진정한 휴식공간입니다.
      </div>
    </div>
  </div>
</div>
