<div class="top-bg">
  <div class="backdrop">
    <div class="ctt" vertical-center=".backdrop">
      <span>아름다운 향기의 추억</span>
      <span>위미향</span>
    </div>
  </div>
</div>


<div class="content-cont">
  <div class="items">
    <div class="it" ng-repeat="t in tours">
      <div class="image" ng-style="{'background-image':'url({{t.image}})'}"></div>
      <div class="tit">{{t.title}}</div>
      <div class="subtit">
        <span class="addr">{{t.addr}}</span>
        <span class="time">{{t.time}}</span>
      </div>
      <div class="ctt">
        {{t.content}}
      </div>
    </div>
  </div>
</div>
