<div class="page-head">
  <div class="page-title">
    <h1>
      메인 상단 이미지 수정
    </h1>
  </div>
</div>
<div class="note note-info note-shadow">
  이미지 수정하는 곳<br>
  다시 업로드 하고 Submit을 누르시면 그림이 변경됩니다.
</div>

<%=render partial: "form", locals: {obj:@main_image, url: admin_main_image_update_path(@main_image.id), method: :put}%>

