@import 'base-client';
@import 'lib/set-blueimp';

/* top-image start */

.top-image {
  position:relative;
  .arrow {
    width:27px;
    height:54px;
    position:absolute;
    top:50%;
    margin-top:-27px;
    right:20px;
    background-image:url($image-path+"/common/arrow_next_btn.png");
    background-repeat:no-repeat;
    background-size:100%;
  }
  .arrow.left {
    background-image:url($image-path+"/common/arrow_prev_btn.png");
    right:0;
    left:20px;
  }
  .carousel-inner {
    cursor:pointer;
    .backdrop {
      @include background-image(linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,0.4)));
      filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr="#00ffffff", endColorStr="#77000000")\9;
      z-index:9;
      width:100%;
      height:100%;
      position:absolute;
      top:0;
      left:0;
    }
    .image {
      width:100%;
      height:480px;
      background-repeat:no-repeat;
      background-position:center;
      background-size:cover;
    }
  }
  .carousel-control {
    filter:none;
    text-shadow:none;
    opacity:1.0;
    z-index:40;
    &:hover {
      cursor:pointer;
      opacity:1.0;
    }
  }
  .indicator-container {
    position:absolute;
    bottom:13px;
    width:100%;
    z-index:40;
    .carousel-indicators {
      width:auto;
      margin:0;
      padding:0;
      bottom:0;
      left:0;
      display:block;
      position:relative;
      margin-left:0 !important;
      li {
        display:inline-block;
        @include border-radius(4px);
        width:8px;
        height:8px;
        margin:0 8px;
        background-color:rgba(255, 255, 255, 0.3);
        border-color:transparent;
      }
      li.active {
        background-color:#fff;
      }
    }
  }
}
.mobile-os {
  .top-image {
    .arrow {
      display:none;
    }
  }
}

@media screen and (min-width:1000px) {
  .top-image {
    .arrow.left {
      left:50% !important;
      margin-left:-485px;
    }
    .arrow.right {
      right:50% !important;
      margin-right:-485px;
    }
    
  }
}
@media screen and (max-width:$mobile-width) {
  .top-image {
    .carousel-inner {
      .image {
        height:200px;
      }
    }
  }
}
#top-carousel-images {
  display:none;
}

/* top-image end */

.bot {
  padding:40px 0;
  .cont {
    max-width:990px;
    margin:0 auto;
    padding:0 10px;
  }
  .mn-cont:after, .mn-cont:before {
    display:table;
    content:" ";
    clear:both;
  }
  .mn {
    width:48%;
    height:400px;
    cursor:pointer;
    .bg {
      height:100%;
      background-position:center;
      background-size:cover;
      background-repeat:no-repeat;
      .alpha {
        width:100%;
        height:100%;
        position:relative;
        background-color:rgba(0, 0, 0, 0.2);
        .ctt {
          display:block;
          text-align:center;
          position:relative;
          top:47%;
          .tit {
            color:white;
            font-size:30px;
            line-height:36px;
          }
          i {
            font-size:32px;
            margin-left:10px;
            color:white;
          }
        }
      }
      .alpha:hover {
        background-color:rgba(0,0,0,0.3);
      }
      .alpha:active {
        background-color:rgba(0,0,0,0.4);
      }
    }
  }
  .mn:first-child {
    margin-right:1%;
  }
  .l {
    float:left;
  }
  .r {
    float:right;
  }
  .map-cont {
    margin-top:30px;
    h1 {
      font-size:20px;
      i {
        margin-right:5px;
      }
    }
  }
  #ps-map {
    margin-top:20px;
    width:100%;
    height:400px;
  }
}

@media screen and (max-width:$mobile-width) {
  .bot {
    padding:15px 0;
    .cont {
      padding:0 15px;
    }
    .mn {
      width:100%;
      margin-bottom:15px;
      height:206px;
      &:first-child {
        margin-right:0;
      }
      &:last-child {
        margin-bottom:0;
      }
      .bg {
        .alpha {
          .ctt {
            top:41%;
            .tit {
              font-size:25px;
            }
            i {
              font-size:27px;
            }

          }
        }
      }
    }

    .map-cont {
      margin-top:0;
      h1 {
        font-size:18px;
        line-height:24px;
      }
    }
    #ps-map {
      height:250px;
    }
  }
}
