@import 'base-client';
@import "client/top-bg";

.content-cont {
  padding:30px 15px 50px;
  width:100%;
  max-width:900px;
  margin:0 auto;
  .indexes {
    margin-bottom:20px;
    .m {
      width:48%;
      border:1px solid #000;
      color:#000;
      display:inline-block;
      text-align:center;
      padding:10px 0;
      font-size:15px;
      &:first-child {
        float:left;
      }
      &:last-child {
        float:right;
      }
    }
    .m.active, .m:hover {
      background-color:black;
      color:white;
    }
    .m:last-child {
      margin-right:0;
    }
    &:before, &:after {
      display:table;
      content:" ";
      clear:both;
    }
  }
}

@media screen and (max-width: $mobile-width) {
  .content-cont {
    padding:20px 15px 30px;
  }
}

.list {
  .notice {
    cursor : pointer;
    text-align : left;
    background-color : #ffffff;
    padding-top : 11px;
    padding-bottom : 13px;
    border-bottom : 1px solid #c5cfd8;
    .notice-title{
      .title-fold-form{
        margin-bottom: 4px;
        .title{
          font-size:16px;
          color : #000;
          @include text-ellipsis(1);
        }
        .ic-fold {
          float:right;
          margin-top:8px;
          width:10px;
          height:6px;
          display:inline-block;
          background-image:url($image-path+"/icons/unfold_ic.png");
          background-size:cover;
          vertical-align:top;
          display:inline-block;
          background-repeat:no-repeat;
        }
        .ic-fold.collapsed {
          background-image:url($image-path+"/icons/fold_ic.png");
        }
      }
      .date{
        font-size:12px;
        color : #98a4af;
      }
      .content{
        font-size:14px;
        color : #000000;
      }
    }
    .notice-title.fold{
      margin-bottom: 11px;
      .title{
        display : block;
        height : auto;
      }
    }
    .notice-content {
      .html-content {
        font-size:14px;
      }
    }
  }
}
