@import 'base-admin';

.item {
  margin-bottom:30px;
  label {
    font-weight:bold;
    font-size:18px;
    margin-bottom:2px;
  }
  .image {
    width:400px;
    height:400px;
    display:block;
    margin-bottom:5px;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
  }
  .btn {
    margin-top:5px;
  }
}
