.top-bg {
  //background-image:url($image-path+"/ex/special_top_img.jpg");
  background-size:cover;
  background-position:center;
  height:150px;
  .backdrop {
    background-image: -webkit-linear-gradient(-450deg, transparent, rgba(0, 0, 0, 0.4));
    background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.4));
    filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr="#00ffffff", endColorStr="#77000000")\9;
    z-index:9;
    width:100%;
    height:100%;
    position:relative;
    .ctt {
      text-align:center;
      span {
        display:block;
        color:white;
        font-size:14px;
      }
      span:last-child {
        font-size:12px;
        margin-top:20px;
      }
    }
  }
}
