<div class="page-head">
  <div class="page-title">
    <h1>
      예약페이지 관리
    </h1>
  </div>
</div>
<div class="note note-info note-shadow">
  예약페이지 업데이트 하는 곳
</div>

<div class="portlet box">
  <div class="portlet-body form">
    <form class="form-horizontal" role="form">
      <div class="form-body">
        <div class="form-group">
          <div class="col-md-12">
            <div class="editor-cont" ng-controller="SummernoteCtrl">
              <summernote config="summernote_config" ng-model="request_form.reserve" on-image-upload="summernote_image_upload(files)" editable="summernote_editable"></summernote>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-12">
            <button type="button" class="btn green" ng-click="submit(request_form)">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<%= form_tag admin_reserve_update_path, method: :put, role:'form', class:"hidden submit-form" do %> 
  <%=hidden_field_tag :content %>
<% end %>
