<div class="top-bg">
  <div class="backdrop">
    <div class="ctt" vertical-center=".backdrop">
      <span>아름다운 향기의 추억</span>
      <span>위미향</span>
    </div>
  </div>
</div>

<div class="content-cont">
  <div class="top-ctt">
    <p class="p-1">휴식과 함께 새로운 추억을 만드는 곳</p>
    <p class="phr p-2">HAY WH , GUS ,OX DE, 오리지널 스칸다비아 빈티지가구와 디자인 소품들을 즐길수 있습니다.<br>
    공간들마다 다양한 팬던트 조명들은 Street, &Tradition, Normann Copenhagen 오리지널 브랜드입니다.<br>
    무엇보다 호시담이라는 공간과 가장 자연스럽게 어울리는 가구와 소품들을 고르기 위해 노력했습니다.
    </p>
    <p class="phr p-3">온몸으로 느껴지는 호시담의 편안한 자연풍경과 세련됨이 더해져<br>
    어떤 공간을 고르냐에따라 휴식의 스타일이 달라집니다.</p>
  </div>
  <div class="room-list">
    <div class="room" url="<%=room_view_path%>">
      <div class="r-img">
        <div class="backdrop"></div>
      </div>
      <div class="r-cont">
        <span class="name">W101</span>
        <span class="info">객실 12평/개별마당 10평/2명(최소2/추가0/최대2)</span>
        <div class="detail-btn">
          <span>자세히</span>
        </div>
      </div>
    </div>
    <div class="room" url="<%=room_view_path%>">
      <div class="r-img">
        <div class="backdrop"></div>
      </div>
      <div class="r-cont">
        <span class="name">W102</span>
        <span class="info">객실 12평/개별마당 10평/2명(최소2/추가0/최대2)</span>
        <div class="detail-btn">
          <span>자세히</span>
        </div>
      </div>
    </div>
  </div>
</div>
