<%= render "fragment/client/top" %>

<div class="content-cont">
  <div class="top-ctt">
    <p class="p-1">아름다운 향기를 담아 갈 수 있는 곳</p>
    <p class="phr p-2">
    앞마당에 펼쳐진 남태평양의 수평선 자락에 설문대할망께서 빨래판삼아 빨래하셨다는 지귀도, <br>
    그리고 마당 경계로 이어지는 조용한 올레5길을 따라 놓여 있는 아름다운 향기를 담아가실 수 있도록...<br>
      3,800여평의 정원과 조용하고 편안한 별장, <b>위미향</b>에서 편안한 쉼을 제공하고자 합니다. 
    </p>
    <p class="phr p-3">고가의 가구나 장식은 없지만 청결하고 포근한 공간이 되도록 세심한 배려를 하겠습니다.<br>
    감사합니다.
    </p>
  </div>
  <div class="room-list">
    <div class="room">
      <div class="img-cont">
        <uib-carousel interval="0">
          <uib-slide ng-repeat="i in floor_1_images track by $index" ng-click="show_carousel_image(1, $index)">
            <div class="backdrop"></div>
            <div class="image" ng-style="{'background-image':'url({{i}})'}"></div>
          </uib-slide>
        </uib-carousel>
      </div>
      <div class="r-cont">
        <span class="name">1층(1F)</span>
        <span class="info">방1(4평), 거실, 화장실2, 주방, 베란다</span>
      </div>
    </div>
    <div class="room">
      <div class="img-cont">
        <uib-carousel interval="0">
          <uib-slide ng-repeat="i in floor_2_images track by $index" ng-click="show_carousel_image(2, $index)">
            <div class="backdrop"></div>
            <div class="image" ng-style="{'background-image':'url({{i}})'}"></div>
          </uib-slide>
        </uib-carousel>
      </div>
      <div class="r-cont">
        <span class="name">2층(2F)</span>
        <span class="info">방2(각 4평), 거실, 화장실1, 테라스, 욕탕, 베란다</span>
      </div>
    </div>
  </div>
</div>

<div id="floor-1-images" blueimp-gallery-img>
  <a href="{{img}}" ng-repeat="img in floor_1_images track by $index">
    <img ng-src="{{img}}">
  </a>
</div>
<div id="floor-2-images" blueimp-gallery-img>
  <a href="{{img}}" ng-repeat="img in floor_2_images track by $index">
    <img ng-src="{{img}}">
  </a>
</div>

<script id="template/carousel/carousel.html" type="text/ng-template">
  <div ng-mouseenter="pause()" ng-mouseleave="play()" class="carousel" ng-swipe-right="prev()" ng-swipe-left="next()">
    <div class="indicator-container">
      <ol class="carousel-indicators" ng-show="slides.length > 1" >
          <li ng-repeat="slide in slides track by $index" ng-class="{active: isActive(slide)}" ng-click="select(slide)"></li>
      </ol>
    </div>
    <div class="carousel-inner" ng-transclude></div>
    <div class="left carousel-control arrow" ng-click="prev()" ng-show="slides.length > 1">
    </div>
    <div class="right carousel-control arrow" ng-click="next()" ng-show="slides.length > 1">
    </div>
  </div>
</script>
