<div class="top-bg" ng-style="{'background-image':'url({{top_bg}})'}">
  <div class="backdrop">
    <div class="ctt" vertical-center=".backdrop">
      <span>아름다운 향기의 추억</span>
      <span>위미향</span>
    </div>
  </div>
</div>

